.CardWidgetContainer {
  display: flex;
  align-items: center;
  background-color: #5e6b70;
  border-radius: 15px;
  padding: 15px;
}

.CardWidgetImage {
  margin-right: 10px; 
  max-width: 0px;
  height: auto;
}

.CardWidgetNumber {
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
}


@media (max-width: 768px) {
  .CardWidgetContainer {
    padding: 5px;
  }

  .CardWidgetImage {
    max-width: 40px;
  }

  .CardWidgetNumber {
    font-size: 1.5rem;
  }
}
