.ContactContainer {
    display: flex;
  }
  
  .ContactDiv {
    flex: 1;
    font-size: 30px;
    font-family: Arial, sans-serif;
  }
  
  .WorkDiv {
    flex: -1;
    margin-left: auto;
    font-size: 30px;
    font-family: Arial, sans-serif;
  }
  
  @media (max-width: 768px) {
    .ContactContainer {
      flex-direction: column;
    }
  
    .ContactDiv, .WorkDiv {
      flex: initial;
      margin-left: 0;
    }
  }
  