.Tituloh1 {
  display: grid;
  place-items: center;
  height: 50vh;
  background-color: #e8cfa7;
  color: #000000;
}

.Tituloh2 {
  display: grid;
  place-items: center;
  background-color: #e8cfa7;
  color: #000000;
}

.Presentacion {
  text-align: center;
  padding: 20px;
  background-color: #e8cfa7;
  color: #000000;
  line-height: 2;
  box-sizing: border-box;
}


@media (max-width: 768px) {
  .Presentacion {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 480px) {
  .Tituloh1 {
    height: auto;
    padding: 20px;
  }

  .Presentacion {
    padding: 10px;
  }
}
