@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #051422;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.NavBar .brand {
  flex: 0 0 auto;
  max-width: 100px;
  height: auto;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  flex: 1;
  justify-content: center;
}

.navLinks li {
  padding: 10px 20px;
  background-color: #e8cfa7;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  white-space: nowrap;
}

.navLinks li a {
  color: #000000;
  text-decoration: none;
}

.navLinks li:hover {
  background-color: #a15d28;
  color: #ddd;
}

@media (max-width: 768px) {
  .NavBar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .navLinks {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: center;
  }

  .navLinks li {
    width: 100%;
    text-align: center;
  }

  .NavBar .brand {
    max-width: 80px;
  }
}

/* Configuración para pantallas muy chicas */
@media (max-width: 480px) {
  .navLinks li {
    padding: 10px;
    font-size: 16px;
  }
}
